@model IEnumerable<MvcComercio.Models.GeneroMusical>

@{
    ViewData["Title"] = "Index";
}

<h1>Géneros musicales</h1>

<p>
    <a asp-action="Create">Crear nuevo género musical</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenGenero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImagenGenero)*@
                <img src="~/images/@item.ImagenGenero" alt="Imagen Género" width="200" height="200" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
